@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font-sans;
  font-size: $text-base;
  line-height: 1.5;
  color: $gray-900;
  background-color: $gray-50;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

// Утилитарные классы
.container {
  @include container;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}